header, main, footer{
    max-width: 760px;
    margin: 0 auto;
}

header, footer{
    background-color: blue;
    padding: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h1, footer {
    font-family: 'Kaushan Script', cursive, 'Times New Roman', serif;
    color: white;
}

footer{
    text-align: center;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

img{
    width: 200px;
    height: auto;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}

.lastmodified{
    color: yellow;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }