@media only screen and (min-width: 64rem) {
        
    nav button {
        display: none;
        }

    nav ul.hide{
        display: block;
    }
    nav ul li {
        float: left;
    } 
    
    nav ul li a {
        border: none;
        font-size: 20px;
    }
    main {
        clear: left;
    }
    main section.advertisement {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section.advertisement h3{
        grid-column: 1/4;
    }
    div.partik {
        grid-column: 1;
    }

    div.hachimanbori {
        grid-column: 2;
    }

    div.omisampa {
        grid-column: 3;
    }
    /* ---------------------------------------City CSS---------------------------------- */
    div.nobunaga{
        margin: 200px;
    }
    
    thead tr th{
        font-size: 20px;
    }

    tbody tr {
        font-size: 20px;
    }

    tfoot {
        font-size: .90rem;
    }
    section.demography {
        float:right;
        margin: 60px;
    }
/* --------------------------------------Directory CSS-------------------------- */
    div.cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main.businessCards div.list h2 {
        text-align: left;
        font-size: 25px;
    }

    main.businessCards div.list p, a {
        font-size: 25px;
        
    }
}