@media only screen and (min-width: 35em) {

    header h1 {
        font-size: 30px;
    }

    .social {
        text-align: center;
    }

    .content img{
        width: 100%;
    }
    .forecast {
        display: block;
    }
    .flex {
        display: flex;
        /* flex-direction: row; */
        /* let us combine row and wrap with flow */
        flex-flow: row wrap;
        border-right: 1px solid #333;
    }
    
    .flex-col {
        flex: 1 1 auto;
        background-color: rgb(177, 177, 177);
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        text-align: center;
    }
    
    .flex {
        border-right: 1px solid #333;
    }
    
    .col-head {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        text-align: center;
    }
    
    
    .forecast img {
        width: 50px;
        border-radius: 100px;
        padding: 0.25rem;
    }
    
    .data {
        display: block;
        padding: 0 5px 5px;
        font-size: 1rem;
        text-align: center;
    }
    
    .col-head {
        font-weight: 700;
        font-size: 1rem;
        background-color: black;
        color: white;
    }
    
    footer .map {
        display: unset;
    }

    footer .contact-information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 10px 30px;

    }

    footer .map {
        grid-column: 1;
    }

    footer .address {
        grid-column: 2;
        margin-top: 80px;
    }

    footer .social {
        grid-column: 2;
        margin-top: -150px;
    }

    .article {
        height: auto;
    }

    .article img {
        width: 200px;
        float: right;
        padding: 0px 0px 20px 20px;
    }

    .article {
        margin-bottom: 200px;
    }

    .weathersummary {
        top: 5px;
        left: 20px;
        padding: 8px;
        font-size: 13px;
    }

    .weathersummary h3 {
        font-size: 15px;
    }


    div.image-gallery {
        grid-template-columns: 1fr 1fr;
    }
    /*-----------------Storm Center-----------------*/

    form fieldset {
        width: 450px;
    }
    
    form legend {
        font-size: 20px;
    }
    
    label.comments textarea {
       
        max-width: 25rem;
    }

    form input.submitBtn {
        max-width: 15rem
    }

    form label.top input, form label.top select {
        max-width: 20rem;
    }

    form label.top, form div {
        font-size: 15px;
    }

    /*-------------------home page css-----------------------*/

    div.heroimage img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    section article div img {
        width: 80%;
        margin-top: 15px;
    }

    section.townCard {
        display: flex;
        flex-wrap: wrap;
       }

    section article {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
      }
    
    section p.motto {
        font-size: 20px;
    }
      
    article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    article.town2 div.content {
        text-align: center;
        margin-right: 20px;
    }


    article.home-article img {
    width: 50%;
    float: right;
    padding: 20px;
    }

}