@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');


.nocancake{
    display: none;
}
.pancake {
    background-color: red;
    color: white;
    text-align: center;
}

body{
    background-color: black;
}

main{
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 10px;
}

h1, h2, h3{
    font-family: "Rock Salt", cursive;
}
p {
    font-family: Verdana, helvetica, Tahoma, sans-serif;
}
    

header {
    display: flex;
}


.logo{
    width: 130px;
    height: 135px;
    flex-direction: column;
    padding: 20px;
}

header h1 {
    color:red;
    font-size: 25px;
}

.motto {
    color: white;
    margin-top: -40px;
    flex-direction: column;
    padding: 20px;

}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: rgb(218, 216, 216);
}

nav {
    background-color: rgb(65, 62, 62);
    font-family: Verdana, helvetica, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: rgb(255, 0, 0);
    border-top: 2px solid rgba(0, 0,0, 0.1);
}

nav ul li a:hover {
    background-color: rgba(0, 0,0, 0.4);
}

nav ul li.active a{
    background-color: rgba(0, 0,0, 0.2);
    color: white;
}

nav ul.hide{
    display: none;
}

main h2 {
    text-align: center;
}

.content img {
    width: 100%;

}

.content {
    position: relative;
}

.weathersummary {
    position: absolute;
    top: 5px;
    left: 50px;
    background: rgba(177,177,177, 0.8);
    padding: 6px;
    font-size: 10px;
    font-family: Verdana, helvetica, Tahoma, sans-serif;
}

.weathersummary h3 {
    font-size: 10px;
    margin-bottom: -10px;
    margin-top: -5px;
}

.article img {
    max-width: 300px;
    padding: 0px 0px 20px;
}

.article{
    margin-top: 100px;
}
.forecast {
    display: none;
}

footer {
    max-width: 1160px;
    margin: auto;
    background-color: rgb(177, 177, 177);
}

footer .map{
    display: none;
}

.address h3{
    color: black;
}

.address {
    text-align: center;
}
footer p {
    color: white;
    text-align: center;
}

.social img{
    width: 45px;
    padding: 5px;
}

.social {
    display: flex;
    justify-content: center;
}

.footer-bar {
    background-color: black;
    padding: 20px;
}

.openweather {
    color: red;
}

/*-------------------- Gallery Style -------------*/
main {
    max-width: 1100px;
    margin: auto;
}


figure img {
    width: 100%;
    height: auto;
    filter: blur(0em);
    transition: filter 0.5s;
}

div.image-gallery {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
}

figcaption {
    padding: 2px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
  }

div.image-gallery figure img[data-src]{
    filter: blur(0.2em);
}

div.image-gallery figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}




/*-------------------Storm center style-----------------*/
main.storm{
    background-color: rgb(190, 187, 187);
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: .5rem 4%;
}

form legend {
    font-family: 'Rock Salt', cursive;
    color:black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 15px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(0, 0, 0,0.1);
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn {
    font-family: 'Rock Salt', cursive;
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem
}

form input.submitBtn:hover{
    box-shadow: 0 0 50px #333;
    cursor: pointer;
}

input:required:invalid {
	background-color: #fdd;
	color: #000;
}
input:required:valid {
	background-color: #dfd;
	color: #000;
}

.flexly {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    padding: .75rem;
    ;
}

#ratingvalue {
    display: block;
	margin: 0 15px;
	color: #2075ff;

}

label.comments textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(0, 0, 0,0.1);
}

/*----------Thanks Page------------*/

main.thanks {
    width: 100%;
    background-color: rgb(170, 167, 167);
}

h1.message {
    text-align: center;
    font-size: 50px;
}

p.confirmation {
    text-align: center;
    font-size: 20px;
}

div.button{
    text-align: center;
}

button.return {
    font-family: 'Rock Salt', cursive;
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
}
button.return:hover {
    box-shadow: 0 0 50px #333;
    cursor: pointer;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/*-------------------home page css-----------------------*/

div.heroimage img{
    max-width: 100%;
}

section article div img {
    max-width: 90%;
    margin-bottom: 10px;
}

section {
    text-align: center;
}

section article {
    background-color: rgb(204, 200, 200);
    border-radius: 20px ;
}

section article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-shadow: 2px 2px rgb(158, 158, 158);
}

section p.motto {
    font-style: italic;
    color: black;
    font-size: 15px;
    text-shadow: none;
}

article.home-article img {
    max-width: 100%;
    margin:auto;
    display: block;

}

/* ------------------- Events section--------------------- */

section.events {
    background-color: rgb(179, 178, 178);
    padding: 0 20px 20px 20px;
    box-shadow: 0 0 50px black;
    margin-top: 50px;
}

section.events p{
    font-size: 18px;
}

section.events h3 {
    text-decoration: 3px underline;
}