body {
    background-color: black;
  
  }
  
  main {
    background-color: white;
    padding: 20px;
    margin: 20px;
  }
  
  .logo-box {
    display: flex
  }
  
  header h1 {
    margin-left: 50px;
    color: red;
    font-size: 50px;
  }
  
  header img{
    width: 150px;
    padding: 20px;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
  }
  
  nav a {
    color: white;
    font-size: 25px;
  }
  
  nav a:hover {
    color: red;
    text-decoration: none;
  }
  
  p {
    font-size: 20px;}
  
  footer{
      padding: 1.5rem;
      text-align: center;
      color: white;
      font-size: 20px;
  }